[Unit]
Description=Update gcal events in swaync

[Service]
Type=oneshot
# This imports your Wayland env so the script can find the Notification Center
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
Environment=XDG_RUNTIME_DIR=%t
Environment=HOME=%h
ExecStart=%h/.config/scripts/gcal-widget.sh
