[Unit]
Description=Update weather label in swaync
After=network-online.target

[Service]
Type=oneshot
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
Environment=XDG_RUNTIME_DIR=%t
Environment=HOME=%h
ExecStart=%h/.config/scripts/swaync-weather.sh
