[user]
	name = rivindu02
	email = kumaragerivindu@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[core]
	pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true      # Jump between changes with n/N
    dark = true          # Or light = true, or omit for auto-detection
    line-numbers = true  # Display line numbers
    side-by-side = true  # Optional: side-by-side diffs
[merge]
    conflictStyle = zdiff3  # Improved merge conflict display
[push]
	autoSetupRemote = true
[transfer]
	fsckObjects = true  # reject corrupt/malformed objects on fetch and push
